# Table of Contents
1. [About Dataset](#about)<br>
    1.1 [Brazilian E-Commerce Public Dataset by Olist](#1.1)<br>
    1.2 [Data Source](#1.2)<br>
2. [Project Objective](#project_objective)<br>
3. [Data Preparation](#data_preparation)<br>
4. [Database Connection Setup](#connection_setup)<br>
5. [Data Cleaning](#data_cleaning)<br>
    5.1. [Removing Columns with Many Missing Values](#5.1)<br>
    5.2. [Replacing Missing Continuous Values with Mean Values](#5.2)<br>
    5.3. [Deleting Rows with Missing Values](#5.3)<br>
6. [Exploratory Data Analysis with SQL](#eda)<br>
    6.1. [Top 10 Customer's Location (City and State) that the Most Orders](#6.1)<br>
    6.2. [Top 10 Customer's Location (City and State) that Generate Most Sales](#6.2)<br>
    6.3. [Top 10 Sellers's Location (City and State) in terms of Sales](#6.3)<br>
    6.4. [7-Day Rolling Averages of Sales](#6.4)<br>
    6.5. [Frequency Distribution of Time (in Hour) that Orders have been Placed](#6.5)<br>
    6.6. [Frequency Distribution of Days of Week that Orders have been Placed](#6.6)<br>
    6.7. [Different Order Statuses](#6.7)<br>
    6.8. [Distribution of Shipping Days](#6.8)<br>
    6.9. [Frequency Distribution of Order Payments](#6.9)<br>
    6.10. [Correlation between Price and Freight Value of the Product](#6.10)<br>
    6.11. [Correlation between Freight Value and Weight of the Product](#6.11)<br>
    6.12. [Payment Types used for Orders](#6.12)<br>
    6.13. [Frequency Distribution of Review Scores](#6.13)<br>
    6.14. [Frequency Distribution of Review Scores Relating to Delivery Times/Shipping Days](#6.14)<br>
    6.15. [Correlation between Review Score and Times taken (in Hours) to Respond back to Review](#6.15)<br>
    6.16. [Number of Different Product Categories](#6.16)<br>
    6.17. [Top 10 Product Categories in terms of Sales](#6.17)<br>
    6.18. [Bottom 10 Product Categories in terms of Sales](#6.18)<br>
7. [Conclusion](#conclusion)

## 1. About Dataset<a id='about'></a>

### 1.1. Brazilian E-Commerce Public Dataset by Olist<a id='1.1'></a>

The dataset refers to Brazilian ecommerce public dataset of orders made at Olist Store. The dataset has information of 100k orders from 2016 to 2018 made at multiple marketplaces in Brazil. Its features allows viewing an order from multiple dimensions: from order status, price, payment and freight performance to customer location, product attributes and finally reviews written by customers. We also released a geolocation dataset that relates Brazilian zip codes to lat/lng coordinates.

### Data Schema

<img src="../assets/erd.png" alt="Data Schema" title="Data Schema" />

### 1.2. Data Source<a id='1.2'></a>

https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

## 2. Project Objectives

To explore the following features using PostgreSQL:
- Customers
- Customers' orders and order items
- Payments
- Customers' purchase patterns
- Products deliveries
- Product reviews

## 3. Data Preparation<a id='data_preparation'></a>

### Load the Data into PostgreSQL

Steps:
- Download the datasets (in csv files) from the source link
- Create the respective tables for each dataset
- Change the encoding to utf8: `SET CLIENT_ENCODING TO 'utf8';`
- Import the dataset into RDBMS
    - Example: `\COPY customers FROM '<file_path>\olist_customers_dataset.csv' CSV HEADER DELIMITER ',';`

## 4. Database Connection Setup<a id='connection_setup'></a>

In [2]:
%load_ext sql

In [6]:
connection_string = f"postgresql+psycopg2://{user}:{password}@{host}/{db}"

In [5]:
%sql $connection_string

## 5. Data Cleaning<a id='data_cleaning'></a>

#### 5.1. Removing Columns with Many Missing Values<a id='5.1'></a>

__Order Reviews__

In [8]:
%%sql
SELECT
    100 * SUM(CASE WHEN review_score IS NULL THEN 1 ELSE 0 END) / COUNT(*) AS missing_score_percent,
    100 * SUM(CASE WHEN review_comment_title IS NULL THEN 1 ELSE 0 END) / COUNT(*) AS missing_title_percent,
    100 * SUM(CASE WHEN review_comment_message IS NULL THEN 1 ELSE 0 END) / COUNT(*) AS missing_msg_percent
FROM
    order_reviews

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[(0, 88, 58)]

Columns with many null values will be removed

In [9]:
%%sql
ALTER TABLE order_reviews
DROP COLUMN review_comment_title,
DROP COLUMN review_comment_message

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
Done.

[]

#### 5.2. Replacing Missing Continuous Values with Mean Values<a id='5.2'></a>

Replace products attributes with mean values

In [10]:
%%sql
WITH prod_avg AS (
    SELECT
        AVG(product_name_length) AS avg_product_name_length, 
        AVG(product_description_length) AS avg_product_description_length, 
        AVG(product_photos_qty) AS avg_product_photos_qty, 
        AVG(product_width_cm) AS avg_product_width_cm, 
        AVG(product_length_cm) AS avg_product_length_cm, 
        AVG(product_weight_g) AS avg_product_weight_g, 
        AVG(product_height_cm) AS avg_product_height_cm
    FROM
        products
)
UPDATE
    products
SET
    product_name_length = COALESCE(products.product_name_length, prod_avg.avg_product_name_length),
    product_description_length = COALESCE(products.product_description_length, prod_avg.avg_product_description_length),
    product_photos_qty = COALESCE(products.product_photos_qty, prod_avg.avg_product_photos_qty),
    product_width_cm = COALESCE(products.product_width_cm, prod_avg.avg_product_width_cm),
    product_length_cm = COALESCE(products.product_length_cm, prod_avg.avg_product_length_cm),
    product_weight_g = COALESCE(products.product_weight_g, prod_avg.avg_product_weight_g),
    product_height_cm = COALESCE(products.product_height_cm, prod_avg.avg_product_height_cm)
FROM
    prod_avg

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
32951 rows affected.

[]

#### 5.3. Deleting Rows with Missing Values<a id='5.3'></a>

__Missing Date Values__<br>
Some records with date values that cannot be replaced or found will be dropped as correct values of these features are needed for analysis

In [11]:
%%sql
DELETE FROM
    orders
WHERE 
    order_approved_at IS NULL OR
    order_delivered_carrier_date IS NULL OR
    order_delivered_customer_date IS NULL

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
2980 rows affected.

[]

__Missing Sales Record__<br>
- To remove orders without payment records
- To remove customer records without any orders

In [12]:
%%sql
DELETE FROM orders
WHERE order_id IN
(
    SELECT o.order_id
    FROM orders o
    LEFT OUTER JOIN order_payments p ON o.order_id = p.order_id
    WHERE p.order_id IS NULL
)

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[]

In [13]:
%%sql
DELETE FROM customers
WHERE customer_id IN
(
    SELECT c.customer_id
    FROM customers c
    LEFT OUTER JOIN orders o ON c.customer_id = o.customer_id
    WHERE o.customer_id IS NULL
)

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
2981 rows affected.

[]

## 6. Exploratory Data Analysis with SQL<a id='eda'></a>

#### 6.1. Top 10 Customer's Location (City and State) that the Most Orders<a id='6.1'></a>

In [14]:
%%sql
SELECT
    INITCAP(c.customer_city) AS customer_city,
    c.customer_state,
    COUNT(o.order_id) AS number_of_orders
FROM 
    customers c
LEFT OUTER JOIN orders o ON c.customer_id = o.customer_id
LEFT OUTER JOIN order_payments p ON o.order_id = p.order_id
WHERE
    o.order_status = 'delivered'
GROUP BY 
    c.customer_city, 
    c.customer_state
ORDER BY 
    number_of_orders DESC
LIMIT 10

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
10 rows affected.

[('Sao Paulo', 'SP', 15695),
 ('Rio De Janeiro', 'RJ', 6916),
 ('Belo Horizonte', 'MG', 2792),
 ('Brasilia', 'DF', 2131),
 ('Curitiba', 'PR', 1544),
 ('Campinas', 'SP', 1477),
 ('Porto Alegre', 'RS', 1379),
 ('Salvador', 'BA', 1290),
 ('Guarulhos', 'SP', 1202),
 ('Sao Bernardo Do Campo', 'SP', 952)]

#### 6.2. Top 10 Customer's Location (City and State) that Generate Most Sales<a id='6.2'></a>

In [15]:
%%sql
SELECT
    INITCAP(c.customer_city) AS customer_city,
    c.customer_state,
    ROUND(SUM(p.payment_value)::numeric, 2) AS total_sales_R$
FROM 
    customers c
LEFT OUTER JOIN orders o ON c.customer_id = o.customer_id
LEFT OUTER JOIN order_payments p ON o.order_id = p.order_id
WHERE
    o.order_status = 'delivered'
GROUP BY 
    c.customer_city, 
    c.customer_state
ORDER BY 
    total_sales_R$ DESC
LIMIT 
    10

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
10 rows affected.

[('Sao Paulo', 'SP', Decimal('2107933.27')),
 ('Rio De Janeiro', 'RJ', Decimal('1111745.28')),
 ('Belo Horizonte', 'MG', Decimal('406050.87')),
 ('Brasilia', 'DF', Decimal('345221.87')),
 ('Curitiba', 'PR', Decimal('238582.26')),
 ('Porto Alegre', 'RS', Decimal('214667.83')),
 ('Campinas', 'SP', Decimal('209028.97')),
 ('Salvador', 'BA', Decimal('207790.89')),
 ('Guarulhos', 'SP', Decimal('157629.92')),
 ('Niteroi', 'RJ', Decimal('135458.19'))]

#### 6.3. Top 10 Sellers's Location (City and State) in terms of Sales<a id='6.3'></a>

In [16]:
%%sql
SELECT
    INITCAP(s.seller_city) AS seller_city,
    s.seller_state,
    ROUND(SUM(i.price + i.freight_value)::numeric, 2) AS total_sales_R$
FROM
    orders o
LEFT OUTER JOIN order_payments p ON o.order_id = p.order_id
LEFT OUTER JOIN order_items i ON o.order_id = i.order_id
LEFT OUTER JOIN sellers s ON i.seller_id = s.seller_id
WHERE
    o.order_status = 'delivered'
GROUP BY
    s.seller_city,
    s.seller_state
ORDER BY
    total_sales_R$ DESC
LIMIT
    10

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
10 rows affected.

[('Sao Paulo', 'SP', Decimal('3218558.66')),
 ('Ibitinga', 'SP', Decimal('799194.43')),
 ('Curitiba', 'PR', Decimal('549953.50')),
 ('Rio De Janeiro', 'RJ', Decimal('398045.96')),
 ('Guarulhos', 'SP', Decimal('375301.43')),
 ('Ribeirao Preto', 'SP', Decimal('320804.75')),
 ('Itaquaquecetuba', 'SP', Decimal('302587.40')),
 ('Santo Andre', 'SP', Decimal('279527.94')),
 ('Lauro De Freitas', 'BA', Decimal('256641.36')),
 ('Guariba', 'SP', Decimal('255991.88'))]

#### 6.4. 7-Day Rolling Averages of Sales<a id='6.4'></a>

In [17]:
%%sql
WITH daily_sales AS (
    SELECT 
        o.order_purchase_timestamp::DATE AS order_purchase_date,
        SUM(p.payment_value) AS total_sales
    FROM 
        orders o
    INNER JOIN
        order_payments p ON o.order_id = p.order_id
    GROUP BY 
        o.order_purchase_timestamp::DATE
),
rolling_average_7_days AS (
    SELECT
        order_purchase_date,
        total_sales,
        AVG(total_sales) OVER (
            ORDER BY order_purchase_date
            ROWS BETWEEN 6 PRECEDING AND CURRENT ROW
        ) AS sales_rolling_average_7,
        ROW_NUMBER() OVER (
            ORDER BY order_purchase_date
        ) AS row_number
    FROM 
        daily_sales
    ORDER BY 
        order_purchase_date
)
SELECT 
    order_purchase_date,
    CASE
        WHEN row_number >= 7 THEN ROUND(sales_rolling_average_7::numeric, 2)
        ELSE NULL
    END AS 
        sales_rolling_average_7
FROM 
    rolling_average_7_days
LIMIT
    100

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
100 rows affected.

[(datetime.date(2016, 10, 3), None),
 (datetime.date(2016, 10, 4), None),
 (datetime.date(2016, 10, 5), None),
 (datetime.date(2016, 10, 6), None),
 (datetime.date(2016, 10, 7), None),
 (datetime.date(2016, 10, 8), None),
 (datetime.date(2016, 10, 9), Decimal('6196.35')),
 (datetime.date(2016, 10, 10), Decimal('6668.01')),
 (datetime.date(2016, 12, 23), Decimal('5267.75')),
 (datetime.date(2017, 1, 5), Decimal('4338.86')),
 (datetime.date(2017, 1, 6), Decimal('3518.11')),
 (datetime.date(2017, 1, 7), Decimal('2711.16')),
 (datetime.date(2017, 1, 8), Decimal('1556.97')),
 (datetime.date(2017, 1, 9), Decimal('1191.75')),
 (datetime.date(2017, 1, 10), Decimal('859.53')),
 (datetime.date(2017, 1, 11), Decimal('1156.55')),
 (datetime.date(2017, 1, 12), Decimal('1301.28')),
 (datetime.date(2017, 1, 13), Decimal('1547.64')),
 (datetime.date(2017, 1, 14), Decimal('1506.66')),
 (datetime.date(2017, 1, 15), Decimal('1798.58')),
 (datetime.date(2017, 1, 16), Decimal('2211.99')),
 (datetime.date(2017, 1, 17), Decimal('2543.77')),
 (datetime.date(2017, 1, 18), Decimal('2788.47')),
 (datetime.date(2017, 1, 19), Decimal('3117.74')),
 (datetime.date(2017, 1, 20), Decimal('3395.34')),
 (datetime.date(2017, 1, 21), Decimal('3643.45')),
 (datetime.date(2017, 1, 22), Decimal('3870.67')),
 (datetime.date(2017, 1, 23), Decimal('4378.27')),
 (datetime.date(2017, 1, 24), Decimal('4672.64')),
 (datetime.date(2017, 1, 25), Decimal('5298.98')),
 (datetime.date(2017, 1, 26), Decimal('6841.77')),
 (datetime.date(2017, 1, 27), Decimal('7956.36')),
 (datetime.date(2017, 1, 28), Decimal('8361.94')),
 (datetime.date(2017, 1, 29), Decimal('8712.21')),
 (datetime.date(2017, 1, 30), Decimal('9293.55')),
 (datetime.date(2017, 1, 31), Decimal('10131.26')),
 (datetime.date(2017, 2, 1), Decimal('10215.92')),
 (datetime.date(2017, 2, 2), Decimal('9575.60')),
 (datetime.date(2017, 2, 3), Decimal('9338.30')),
 (datetime.date(2017, 2, 4), Decimal('10707.33')),
 (datetime.date(2017, 2, 5), Decimal('11198.96')),
 (datetime.date(2017, 2, 6), Decimal('11142.22')),
 (datetime.date(2017, 2, 7), Decimal('11742.52')),
 (datetime.date(2017, 2, 8), Decimal('12418.13')),
 (datetime.date(2017, 2, 9), Decimal('12450.40')),
 (datetime.date(2017, 2, 10), Decimal('12978.33')),
 (datetime.date(2017, 2, 11), Decimal('11537.33')),
 (datetime.date(2017, 2, 12), Decimal('12445.13')),
 (datetime.date(2017, 2, 13), Decimal('12628.12')),
 (datetime.date(2017, 2, 14), Decimal('12105.76')),
 (datetime.date(2017, 2, 15), Decimal('11279.50')),
 (datetime.date(2017, 2, 16), Decimal('10747.21')),
 (datetime.date(2017, 2, 17), Decimal('9769.99')),
 (datetime.date(2017, 2, 18), Decimal('10049.18')),
 (datetime.date(2017, 2, 19), Decimal('8283.84')),
 (datetime.date(2017, 2, 20), Decimal('7732.89')),
 (datetime.date(2017, 2, 21), Decimal('7249.83')),
 (datetime.date(2017, 2, 22), Decimal('7148.52')),
 (datetime.date(2017, 2, 23), Decimal('7284.28')),
 (datetime.date(2017, 2, 24), Decimal('7302.45')),
 (datetime.date(2017, 2, 25), Decimal('6896.77')),
 (datetime.date(2017, 2, 26), Decimal('7192.29')),
 (datetime.date(2017, 2, 27), Decimal('6965.04')),
 (datetime.date(2017, 2, 28), Decimal('7396.04')),
 (datetime.date(2017, 3, 1), Decimal('8419.76')),
 (datetime.date(2017, 3, 2), Decimal('9102.99')),
 (datetime.date(2017, 3, 3), Decimal('9980.13')),
 (datetime.date(2017, 3, 4), Decimal('10791.13')),
 (datetime.date(2017, 3, 5), Decimal('11075.61')),
 (datetime.date(2017, 3, 6), Decimal('11629.58')),
 (datetime.date(2017, 3, 7), Decimal('11799.70')),
 (datetime.date(2017, 3, 8), Decimal('11883.60')),
 (datetime.date(2017, 3, 9), Decimal('11944.50')),
 (datetime.date(2017, 3, 10), Decimal('11956.87')),
 (datetime.date(2017, 3, 11), Decimal('12254.52')),
 (datetime.date(2017, 3, 12), Decimal('12200.17')),
 (datetime.date(2017, 3, 13), Decimal('13337.07')),
 (datetime.date(2017, 3, 14), Decimal('13762.95')),
 (datetime.date(2017, 3, 15), Decimal('14005.76')),
 (datetime.date(2017, 3, 16), Decimal('14500.92')),
 (datetime.date(2017, 3, 17), Decimal('14431.82')),
 (datetime.date(2017, 3, 18), Decimal('15215.39')),
 (datetime.date(2017, 3, 19), Decimal('15217.70')),
 (datetime.date(2017, 3, 20), Decimal('15326.91')),
 (datetime.date(2017, 3, 21), Decimal('14897.68')),
 (datetime.date(2017, 3, 22), Decimal('14877.70')),
 (datetime.date(2017, 3, 23), Decimal('15154.11')),
 (datetime.date(2017, 3, 24), Decimal('14873.02')),
 (datetime.date(2017, 3, 25), Decimal('13916.37')),
 (datetime.date(2017, 3, 26), Decimal('13863.35')),
 (datetime.date(2017, 3, 27), Decimal('13747.52')),
 (datetime.date(2017, 3, 28), Decimal('13799.99')),
 (datetime.date(2017, 3, 29), Decimal('12846.28')),
 (datetime.date(2017, 3, 30), Decimal('11813.35')),
 (datetime.date(2017, 3, 31), Decimal('12121.69')),
 (datetime.date(2017, 4, 1), Decimal('13259.63')),
 (datetime.date(2017, 4, 2), Decimal('13701.82')),
 (datetime.date(2017, 4, 3), Decimal('12527.99')),
 (datetime.date(2017, 4, 4), Decimal('12616.43')),
 (datetime.date(2017, 4, 5), Decimal('14104.72'))]

#### 6.5. Frequency Distribution of Time (in Hour) that Orders have been Placed<a id='6.5'></a>

In [18]:
%%sql
SELECT
    EXTRACT(HOUR FROM order_purchase_timestamp) AS order_purchase_hour,
    COUNT(DISTINCT(order_id)) AS number_of_order
FROM
    orders
GROUP BY
    order_purchase_hour

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
24 rows affected.

[(0.0, 2322),
 (1.0, 1132),
 (2.0, 496),
 (3.0, 259),
 (4.0, 203),
 (5.0, 182),
 (6.0, 477),
 (7.0, 1199),
 (8.0, 2906),
 (9.0, 4647),
 (10.0, 5978),
 (11.0, 6384),
 (12.0, 5799),
 (13.0, 6307),
 (14.0, 6383),
 (15.0, 6248),
 (16.0, 6474),
 (17.0, 5959),
 (18.0, 5585),
 (19.0, 5802),
 (20.0, 6008),
 (21.0, 6040),
 (22.0, 5656),
 (23.0, 4014)]

#### 6.6. Frequency Distribution of Days of Week that Orders have been Placed<a id='6.6'></a>

In [19]:
%%sql
SELECT
    TO_CHAR(order_purchase_timestamp, 'day') AS day_of_week,
    COUNT(DISTINCT(order_id)) AS number_of_order
FROM
    orders
GROUP BY
    day_of_week
ORDER BY
    number_of_order DESC

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
7 rows affected.

[('monday   ', 15703),
 ('tuesday  ', 15502),
 ('wednesday', 15074),
 ('thursday ', 14319),
 ('friday   ', 13681),
 ('sunday   ', 11633),
 ('saturday ', 10548)]

#### 6.7. Different Order Statuses<a id='6.7'></a>

In [20]:
%%sql
SELECT
    order_status,
    COUNT(order_id) AS total_orders
FROM
    orders
GROUP BY
    order_status

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
2 rows affected.

[('delivered', 96454), ('canceled', 6)]

#### 6.8. Distribution of Shipping Days<a id='6.8'></a>

Days taken for products to be delivered after orders have been approved

In [32]:
%%sql
WITH orders_shipping AS (
    SELECT EXTRACT(
        DAY FROM order_delivered_customer_date - order_approved_at
    ) AS shipping_days
    FROM
        orders
    WHERE
        order_status = 'delivered'
        AND EXTRACT(DAY FROM order_delivered_customer_date - order_approved_at) >= 0
)
SELECT 
    MODE() WITHIN GROUP (ORDER BY shipping_days) AS mode,
    MIN(shipping_days) AS minimum,
    MAX(shipping_days) AS maximum,
    ROUND(AVG(shipping_days)::numeric, 2) AS average,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY shipping_days) AS median,
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY shipping_days) AS quartile_q1,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY shipping_days) AS quartile_q3
FROM orders_shipping

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[(7.0, 0.0, 208.0, Decimal('11.65'), 9.0, 6.0, 15.0)]

#### 6.9. Frequency Distribution of Order Payments<a id='6.9'></a>

In [8]:
%%sql
SELECT 
    1000 * s.d AS price_range_R$,
    COUNT(p.payment_value) AS number_of_orders
FROM 
    generate_series(0, 7) s(d)
LEFT OUTER JOIN order_payments p 
    ON s.d = FLOOR(p.payment_value / 1000)
WHERE 
    p.payment_value > 0
GROUP BY 
    price_range_R$
ORDER BY 
    price_range_R$

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
7 rows affected.

[(0, 102727),
 (1000, 935),
 (2000, 164),
 (3000, 35),
 (4000, 10),
 (6000, 4),
 (7000, 1)]

Most of the orders are less than or equal to R$1000

#### 6.10. Correlation between Price and Freight Value of the Product<a id='6.10'></a>

In [39]:
%%sql
SELECT
    CORR(price, freight_value)
FROM
    order_items

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[(0.4142043103630384,)]

Price and freight value weak (low positive) correlations.

#### 6.11. Correlation between Freight Value and Weight of the Product<a id='6.11'></a>

In [41]:
%%sql
SELECT
    CORR(i.freight_value, p.product_weight_g)
FROM
    order_items i
LEFT OUTER JOIN
    products p ON i.product_id = p.product_id

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[(0.6104100183276833,)]

Freight vlaue and product weight have slightly strong (positive) relationship.

#### 6.12. Payment Types used for Orders<a id='6.12'></a>

In [43]:
%%sql
SELECT
    payment_type,
    COUNT(order_id) AS number_of_orders
FROM
    order_payments
GROUP BY
    payment_type
ORDER BY
    number_of_orders DESC

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
5 rows affected.

[('credit_card', 76795),
 ('boleto', 19784),
 ('voucher', 5775),
 ('debit_card', 1529),
 ('not_defined', 3)]

- Credit card payment is the most popular as it is in ecommerce
- Beleto, an official pyment method in Brazil comes second

#### 6.13. Frequency Distribution of Review Scores<a id='6.13'></a>

In [13]:
%%sql
SELECT
    review_score,
    COUNT(review_id) AS number_of_reviews
FROM
    order_reviews
GROUP BY
    review_score
ORDER BY
    review_score

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
5 rows affected.

[(1, 11424), (2, 3151), (3, 8179), (4, 19142), (5, 57328)]

Majority gave the good review scores of 4 or 5 while considerate amount of the customers gave only 1 for a score.

#### 6.14. Frequency Distribution of Review Scores Relating to Delivery Times/Shipping Days<a id='6.14'></a>

In [38]:
%%sql
WITH orders_shipping AS (
    SELECT 
        order_id,
        EXTRACT(
            DAY FROM order_delivered_customer_date - order_approved_at
        ) AS shipping_days
    FROM
        orders
    WHERE
        order_status = 'delivered'
        AND EXTRACT(DAY FROM order_delivered_customer_date - order_approved_at) >= 0
)
SELECT
    r.review_score,
    MODE() WITHIN GROUP (ORDER BY s.shipping_days) AS shipping_days_mode,
    MIN(s.shipping_days) AS shipping_days_minimum,
    MAX(s.shipping_days) AS shipping_days_maximum,
    ROUND(AVG(s.shipping_days)::numeric, 2) AS shipping_days_average,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY s.shipping_days) AS shipping_days_median,
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY s.shipping_days) AS shipping_days_quartile_q1,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY s.shipping_days) AS shipping_days_quartile_q3
FROM
    orders_shipping s
INNER JOIN 
    order_reviews r ON s.order_id = r.order_id
GROUP BY
    r.review_score
ORDER BY
    r.review_score

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
5 rows affected.

[(1, 6.0, 0.0, 194.0, Decimal('20.37'), 16.0, 8.0, 30.0),
 (2, 6.0, 0.0, 208.0, Decimal('15.72'), 12.0, 7.0, 21.0),
 (3, 7.0, 0.0, 188.0, Decimal('13.32'), 11.0, 7.0, 18.0),
 (4, 7.0, 0.0, 194.0, Decimal('11.40'), 10.0, 6.0, 15.0),
 (5, 7.0, 0.0, 187.0, Decimal('9.79'), 8.0, 5.0, 13.0)]

Higher review scores tend to be related to lower number of shipping days while lower review scores seem to get higher number of shipping days.

#### 6.15. Correlation between Review Score and Times taken (in Hours) to Respond back to Review<a id='6.15'></a>

In [45]:
%%sql 
WITH reviews AS (
    SELECT
        review_score,
        EXTRACT(HOUR FROM review_answer_timestamp) -
        EXTRACT(HOUR FROM review_creation_date) AS hours_to_respond
    FROM
        order_reviews
)
SELECT
    CORR(review_score, hours_to_respond)
FROM
    reviews
LIMIT 10

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[(0.021009016629353627,)]

- There is a very weak relationship between review score and hours taken to respond back to the review.
- Such responses seem to be carried out according to regular operations and customer service procedures.

#### 6.16. Number of Different Product Categories<a id='6.16'></a>

In [5]:
%%sql 
SELECT 
    COUNT(DISTINCT product_category_name) AS number_of_product_categories
FROM 
    products

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
1 rows affected.

[(73,)]

#### 6.17. Top 10 Product Categories in terms of Sales<a id='6.17'></a>

In [29]:
%%sql
SELECT
    t.product_category_name_english as product_category,
    ROUND(SUM(i.price + i.freight_value)::numeric, 2) AS total_sales_amount_R$
FROM
    order_items i
LEFT OUTER JOIN
    products p ON i.product_id = p.product_id
LEFT OUTER JOIN
    product_category_name_translation t ON
    p.product_category_name = t.product_category_name
GROUP BY
    t.product_category_name_english
ORDER BY
    total_sales_amount_R$ DESC
LIMIT 10

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
10 rows affected.

[('health_beauty', Decimal('1441248.07')),
 ('watches_gifts', Decimal('1305541.61')),
 ('bed_bath_table', Decimal('1241681.72')),
 ('sports_leisure', Decimal('1156656.48')),
 ('computers_accessories', Decimal('1059272.40')),
 ('furniture_decor', Decimal('902511.79')),
 ('housewares', Decimal('778397.77')),
 ('cool_stuff', Decimal('719329.95')),
 ('auto', Decimal('685384.32')),
 ('garden_tools', Decimal('584219.21'))]

#### 6.18. Bottom 10 Product Categories in terms of Sales<a id='6.18'></a>

In [30]:
%%sql
SELECT
    t.product_category_name_english as product_category,
    ROUND(SUM(i.price + i.freight_value)::numeric, 2) AS total_sales_amount_R$
FROM
    order_items i
LEFT OUTER JOIN
    products p ON i.product_id = p.product_id
LEFT OUTER JOIN
    product_category_name_translation t ON
    p.product_category_name = t.product_category_name
GROUP BY
    t.product_category_name_english
ORDER BY
    total_sales_amount_R$
LIMIT 10

 * postgresql+psycopg2://postgres:***@localhost/ecommerce_olist
10 rows affected.

[('security_and_services', Decimal('324.51')),
 ('fashion_childrens_clothes', Decimal('665.36')),
 ('cds_dvds_musicals', Decimal('954.99')),
 ('home_comfort_2', Decimal('1170.58')),
 ('flowers', Decimal('1598.91')),
 ('diapers_and_hygiene', Decimal('2141.27')),
 ('arts_and_craftmanship', Decimal('2184.14')),
 ('la_cuisine', Decimal('2388.54')),
 ('fashion_sport', Decimal('2697.64')),
 ('fashio_female_clothing', Decimal('3425.39'))]

## 7. Conclusion<a id='conclusion'></a>

- Sao Paulo, Rio De Janeiro, and Belo Horizonte have most number of sales as well as sales revenues while these cities also have the most populations with 22 millions, 6.5 millions, and 2.5 millions each.
- There is an upward trend in sales in terms of revenues. However, sales margin cannot be calculated due to lack of data.
- Least amounts of sales transactions occured during weekends.
- It normally takes about 9-11 days for orders to be delivered.
- The heavier the item is, it is likely that the more shipping charge will be
- Credit card payment, and Boleto payment types are two most popular payment methods
- Most orders reviews receive 5/5, but second most orders reviews receive only 1/5 score.
- It is likely to get the higher review score with less shipping times.
- Health and beauty category is the most popular product category in terms of sales while security and services category the least popular.